# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.

1. –ü–æ–¥–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–∏—Ç–µ –Ω—É–∂–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å PostgreSQL
3. –°–æ–∑–¥–∞–π—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –ë–î
4. –°–æ–∑–¥–∞–π—Ç–µ –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≥—Ä—É–∑–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products`
5. –ü–æ–ª–æ–∂–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products`
6. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É

In [1]:
from postgresql_secret import pg_secret

In [2]:
import sys
!{sys.executable} -m pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\roman\anaconda3\lib\site-packages (2.8.6)

In [3]:
import psycopg2

connection = psycopg2.connect(database = pg_secret['db_name'],
                             user = pg_secret['db_user'],
                             password = pg_secret['db_password'],
                             host = pg_secret['db_host'],
                             port = pg_secret['db_port'])

cursor = connection.cursor()

In [4]:
import pandas as pd

query = '''SELECT * 
           FROM products'''# SQL –∑–∞–ø—Ä–æ—Å
cursor.execute(query)

#cursor.description
prodct = cursor.fetchall()

In [5]:
columns = []
for desc in cursor.description:
    columns.append(desc[0])
products = pd.DataFrame(prodct, columns = columns)

products['price'] = products['price'].apply(float)
products['invoice_id'] = products['invoice_id'].astype(str)
products['stock_code'] = products['stock_code'].astype(str)
products['description'] = products['description'].astype(str)
products

,invoice_id,stock_code,description,quantity,price
0,512059,21212,PACK OF 72 RETRO SPOT CAKE CASES,1,0.55
1,512059,22519,CHILDS GARDEN BRUSH PINK,4,2.10
2,512059,22518,CHILDS GARDEN BRUSH BLUE,4,2.10
3,512059,22501,PICNIC BASKET WICKER LARGE,3,9.95
4,512059,22469,HEART OF WICKER SMALL,5,1.65
...,...,...,...,...,...
779490,512059,90042B,FRESHWATER PEARL BRACELET PINK,3,2.55
779491,512059,90042C,FRESHWATER PEARL BRACELET IVORY,3,2.55
779492,512059,22197,SMALL POPCORN HOLDER,2,0.85
779493,512059,20674,GREEN SPOTTY BOWL,2,1.25
779494,512059,22434,BALLOON PUMP WITH 10 BALLOONS,1,1.95

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

1. –ü–æ—Å—á–∏—Ç–∞–π –æ–±—â—É—é —Å—É–º–º—É –æ–ø–ª–∞—Ç –¥–ª—è –∫–∞–∂–¥–æ–π —Ç–æ–≤–∞—Ä–Ω–æ–π –ø–æ–∑–∏—Ü–∏–∏
2. –ü–æ–ª—É—á–∏ –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –ø–æ —Ç–æ–≤–∞—Ä–∞–º
3. –û–±—ä–µ–¥–∏–Ω–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `description`, `stock_code`, `quantity`, `total`

In [6]:
products['total'] = products['quantity'] * products['price']
products

,invoice_id,stock_code,description,quantity,price,total
0,512059,21212,PACK OF 72 RETRO SPOT CAKE CASES,1,0.55,0.55
1,512059,22519,CHILDS GARDEN BRUSH PINK,4,2.10,8.40
2,512059,22518,CHILDS GARDEN BRUSH BLUE,4,2.10,8.40
3,512059,22501,PICNIC BASKET WICKER LARGE,3,9.95,29.85
4,512059,22469,HEART OF WICKER SMALL,5,1.65,8.25
...,...,...,...,...,...,...
779490,512059,90042B,FRESHWATER PEARL BRACELET PINK,3,2.55,7.65
779491,512059,90042C,FRESHWATER PEARL BRACELET IVORY,3,2.55,7.65
779492,512059,22197,SMALL POPCORN HOLDER,2,0.85,1.70
779493,512059,20674,GREEN SPOTTY BOWL,2,1.25,2.50
779494,512059,22434,BALLOON PUMP WITH 10 BALLOONS,1,1.95,1.95

In [7]:
desc_table = pd.DataFrame(products.groupby('stock_code')['description'])
desc_table.columns = ['stock_code', 'description']
desc_table['stock_code'].drop_duplicates()
desc_table

     stock_code                                        description
0         10002  1370      INFLATABLE POLITICAL GLOBE
2574    ...
1         10080  43721     GROOVY CACTUS INFLATABLE
85541     G...
2         10109  610064    BENDY COLOUR PENCILS
Name: descripti...
3         10120  25887     DOGGY RUBBER
81049     DOGGY RUBBER
...
4        10123C  9596      HEARTS WRAPPING TAPE
28294     HEAR...
...         ...                                                ...
4626       PADS  84908     PADS TO MATCH ALL CUSHIONS
165630   ...
4627       POST  467       POSTAGE
1330      POSTAGE
2776      ...
4628     SP1002  113839    KID'S CHALKBOARD/EASEL
114158    KID...
4629    TEST001  625682    This is a test product.
625924    Th...
4630    TEST002  632576    This is a test product.
Name: descri...

[4631 rows x 2 columns]

In [8]:
inc_table = products.groupby('stock_code')['total'].sum() # –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–∏—Ö –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
inc_table

stock_code
10002        6638.27
10080         124.61
10109           1.68
10120         136.08
10123C        226.76
             ...
PADS            0.00
POST       124648.04
SP1002         14.75
TEST001       225.00
TEST002         1.00
Name: total, Length: 4631, dtype: float64

In [9]:
sold_items = products.groupby('stock_code')['quantity'].sum() # –ø–æ—Å—á–∏—Ç–∞–ª –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
sold_items

stock_code
10002      8479
10080       303
10109         4
10120       648
10123C      628
           ...
PADS         18
POST       5235
SP1002        5
TEST001      60
TEST002       1
Name: quantity, Length: 4631, dtype: int64

In [10]:
desc_inc_table = pd.merge(inc_table,
                         desc_table,
                         on = 'stock_code',
                         how = 'inner') # –æ–±—ä–µ–¥–∏–Ω–∏–ª –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É

desc_inc_table

     stock_code      total                                        description
0         10002    6638.27  1370      INFLATABLE POLITICAL GLOBE
2574    ...
1         10080     124.61  43721     GROOVY CACTUS INFLATABLE
85541     G...
2         10109       1.68  610064    BENDY COLOUR PENCILS
Name: descripti...
3         10120     136.08  25887     DOGGY RUBBER
81049     DOGGY RUBBER
...
4        10123C     226.76  9596      HEARTS WRAPPING TAPE
28294     HEAR...
...         ...        ...                                                ...
4626       PADS       0.00  84908     PADS TO MATCH ALL CUSHIONS
165630   ...
4627       POST  124648.04  467       POSTAGE
1330      POSTAGE
2776      ...
4628     SP1002      14.75  113839    KID'S CHALKBOARD/EASEL
114158    KID...
4629    TEST001     225.00  625682    This is a test product.
625924    Th...
4630    TEST002       1.00  632576    This is a test product.
Name: descri...

[4631 rows x 3 columns]

In [11]:
new_products = pd.merge(desc_inc_table,
                       sold_items,
                       on = 'stock_code',
                       how = 'inner')

new_products = new_products[['description', 'stock_code', 'quantity', 'total']]
new_products

,description,stock_code,quantity,total
0,1370 INFLATABLE POLITICAL GLOBE 2574 ...,10002,8479,6638.27
1,43721 GROOVY CACTUS INFLATABLE 85541 G...,10080,303,124.61
2,610064 BENDY COLOUR PENCILS Name: descripti...,10109,4,1.68
3,25887 DOGGY RUBBER 81049 DOGGY RUBBER ...,10120,648,136.08
4,9596 HEARTS WRAPPING TAPE 28294 HEAR...,10123C,628,226.76
...,...,...,...,...
4626,84908 PADS TO MATCH ALL CUSHIONS 165630 ...,PADS,18,0.00
4627,467 POSTAGE 1330 POSTAGE 2776 ...,POST,5235,124648.04
4628,113839 KID'S CHALKBOARD/EASEL 114158 KID...,SP1002,5,14.75
4629,625682 This is a test product. 625924 Th...,TEST001,60,225.00
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É –≤ –Ω–∏—Å—Ö–æ–¥—è—â–µ–º –ø–æ—Ä—è–¥–∫–µ 
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ 
3. –°–¥–µ–ª–∞–π –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ (running total) –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞, –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–π–¥–∏ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏ –º–µ—Ç–æ–¥ –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã –≤ `pandas`. 


–ù–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ ‚Äî —ç—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–º –º—ã –≤–∏–¥–∏–º –¥–∏–Ω–∞–º–∏–∫—É –Ω–∞—Ä–∞—Å—Ç–∞–Ω–∏—è –∏–ª–∏ —É–±—ã–≤–∞–Ω–∏—è —Å—É–º–º—ã –æ—Ç –Ω–∞—á–∞–ª–∞ –æ—Ç—Å—á–µ—Ç–∞ –¥–æ –∫–æ–Ω—Ü–∞. –ü–æ–ª—É—á–∞–µ–º –º—ã —ç—Ç—É –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É, –ø—Ä–∏–±–∞–≤–ª–µ–Ω–∏–µ–º –ø–æ–æ—á–µ—Ä–µ–¥–Ω–æ –∫–∞–∂–¥–æ–≥–æ —Å–ª–µ–¥—É—é—â–µ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –∫ —Å—É–º–º–µ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö.

In [12]:
tTable = new_products.sort_values(['total'], ascending = False) # –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º (–±–æ–ª—å—à–∏–µ –≤–≤–µ—Ä—Ö—É, –º–∞–ª–µ–Ω—å–∫–∏–µ –≤–Ω–∏–∑—É)
tTable

,description,stock_code,quantity,total
1609,264 REGENCY CAKESTAND 3 TIER 513 R...,22423,24139,277656.25
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64
4625,2375 Manual 4981 Manual 5495 Ma...,M,9391,151777.67
...,...,...,...,...
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00
247,617266 OWLS CHARLOTTE BAG Name: description...,20721,1,0.85
3419,682193 HAPPY BIRTHDAY GINGER CAT CARD Name:...,84205C,2,0.38
2847,630861 PINK HEART CHRISTMAS DECORATION Name...,35930,1,0.38
4626,84908 PADS TO MATCH ALL CUSHIONS 165630 ...,PADS,18,0.00

In [13]:

total_income = tTable['total'].sum()
#total_income
tTable['percentage'] = (tTable['total']/total_income)*100 # –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
tTable

,description,stock_code,quantity,total,percentage
1609,264 REGENCY CAKESTAND 3 TIER 513 R...,22423,24139,277656.25,1.598040
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36,1.422769
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60,0.969620
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64,0.966461
4625,2375 Manual 4981 Manual 5495 Ma...,M,9391,151777.67,0.873550
...,...,...,...,...,...
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00,0.000006
247,617266 OWLS CHARLOTTE BAG Name: description...,20721,1,0.85,0.000005
3419,682193 HAPPY BIRTHDAY GINGER CAT CARD Name:...,84205C,2,0.38,0.000002
2847,630861 PINK HEART CHRISTMAS DECORATION Name...,35930,1,0.38,0.000002
4626,84908 PADS TO MATCH ALL CUSHIONS 165630 ...,PADS,18,0.00,0.000000

In [14]:
tTable['cumsum'] =  tTable['percentage'].cumsum()
tTable

,description,stock_code,quantity,total,percentage,cumsum
1609,264 REGENCY CAKESTAND 3 TIER 513 R...,22423,24139,277656.25,1.598040,1.598040
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36,1.422769,3.020809
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60,0.969620,3.990429
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64,0.966461,4.956890
4625,2375 Manual 4981 Manual 5495 Ma...,M,9391,151777.67,0.873550,5.830440
...,...,...,...,...,...,...
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00,0.000006,99.999991
247,617266 OWLS CHARLOTTE BAG Name: description...,20721,1,0.85,0.000005,99.999996
3419,682193 HAPPY BIRTHDAY GINGER CAT CARD Name:...,84205C,2,0.38,0.000002,99.999998
2847,630861 PINK HEART CHRISTMAS DECORATION Name...,35930,1,0.38,0.000002,100.000000
4626,84908 PADS TO MATCH ALL CUSHIONS 165630 ...,PADS,18,0.00,0.000000,100.000000

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

1. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø–æ–º–µ—á–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–º –∏—Ç–æ–≥–æ–º –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 80% –∫–∞–∫ –≥—Ä—É–ø–ø—É `'A'`, –æ—Ç 80%-95% ‚Äî –∫–∞–∫ `'B'` –∏ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞–∫ `'C'`

In [15]:
def revenue(x):
    if x <= 80:
        return 'A'
    elif x <= 95:
        return 'B'
    else:
        return 'C'


tTable['revenue'] = tTable['cumsum'].apply(revenue)
tTable

,description,stock_code,quantity,total,percentage,cumsum,revenue
1609,264 REGENCY CAKESTAND 3 TIER 513 R...,22423,24139,277656.25,1.598040,1.598040,A
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36,1.422769,3.020809,A
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60,0.969620,3.990429,A
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64,0.966461,4.956890,A
4625,2375 Manual 4981 Manual 5495 Ma...,M,9391,151777.67,0.873550,5.830440,A
...,...,...,...,...,...,...,...
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00,0.000006,99.999991,C
247,617266 OWLS CHARLOTTE BAG Name: description...,20721,1,0.85,0.000005,99.999996,C
3419,682193 HAPPY BIRTHDAY GINGER CAT CARD Name:...,84205C,2,0.38,0.000002,99.999998,C
2847,630861 PINK HEART CHRISTMAS DECORATION Name...,35930,1,0.38,0.000002,100.000000,C
4626,84908 PADS TO MATCH ALL CUSHIONS 165630 ...,PADS,18,0.00,0.000000,100.000000,C

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

In [17]:
qTable = new_products.sort_values(['quantity'], ascending = False)

total_quantity = qTable['quantity'].sum()

qTable['percentage'] = (qTable['quantity']/total_quantity)*100 # –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
qTable['cumsum'] =  qTable['percentage'].cumsum()
qTable

,description,stock_code,quantity,total,percentage,cumsum
3410,537 WORLD WAR 2 GLIDERS ASSTD DESIGNS 85...,84077,105185,24098.03,0.999031,0.999031
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64,0.887441,1.886471
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36,0.872035,2.758506
601,0 PACK OF 72 RETRO SPOT CAKE CASES 218...,21212,89850,43390.03,0.853381,3.611888
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60,0.769278,4.381166
...,...,...,...,...,...,...
2936,618545 ENGLISH ROSE TEA FOR ONE GIFT BOX Na...,37484,1,6.75,0.000009,99.999962
4144,617268 S/2 HYACINTH BULB CANDLES Name: desc...,85171,1,2.55,0.000009,99.999972
2917,662118 CERAMIC CAKE TEAPOT WITH CHERRY Name...,37451,1,4.95,0.000009,99.999981
2907,625052 FUNKY FLOWER COFFEE POT Name: descri...,37438,1,3.75,0.000009,99.999991
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00,0.000009,100.000000

In [18]:
def quantity(x):
    if x <= 80:
        return 'A'
    elif x <= 95:
        return 'B'
    else:
        return 'C'


qTable['popularity'] = qTable['cumsum'].apply(quantity)
qTable

,description,stock_code,quantity,total,percentage,cumsum,popularity
3410,537 WORLD WAR 2 GLIDERS ASSTD DESIGNS 85...,84077,105185,24098.03,0.999031,0.999031,A
4058,468 JUMBO BAG RED RETROSPOT 563 JU...,85099B,93436,167920.64,0.887441,1.886471,A
4080,30 WHITE HANGING HEART T-LIGHT HOLDER 1...,85123A,91814,247203.36,0.872035,2.758506,A
601,0 PACK OF 72 RETRO SPOT CAKE CASES 218...,21212,89850,43390.03,0.853381,3.611888,A
2726,"604474 PAPER CRAFT , LITTLE BIRDIE Name: de...",23843,80995,168469.60,0.769278,4.381166,A
...,...,...,...,...,...,...,...
2936,618545 ENGLISH ROSE TEA FOR ONE GIFT BOX Na...,37484,1,6.75,0.000009,99.999962,C
4144,617268 S/2 HYACINTH BULB CANDLES Name: desc...,85171,1,2.55,0.000009,99.999972,C
2917,662118 CERAMIC CAKE TEAPOT WITH CHERRY Name...,37451,1,4.95,0.000009,99.999981,C
2907,625052 FUNKY FLOWER COFFEE POT Name: descri...,37438,1,3.75,0.000009,99.999991,C
4630,632576 This is a test product. Name: descri...,TEST002,1,1.00,0.000009,100.000000,C

In [0]:
prod.head()

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

1. –°–æ–∑–¥–∞–π —Å–µ—Ä–∏—é `group` —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
2. –ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
3. –ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?
4. –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

In [40]:
# –Ω–∞–ø–∏—à–∏ –∑–¥–µ—Å—å –∫–æ–¥ –∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏

new_tTable = tTable[['stock_code', 'description', 'revenue']]
new_qTable = qTable[['stock_code', 'popularity']]
tqTable = pd.merge(new_tTable,
                  new_qTable,
                  on = 'stock_code',
                  how = 'inner')
tqTable['group'] = tqTable['revenue'] + tqTable['popularity']
tqTable['group'].value_counts()
#tqTable

CC    2041
AA     685
BB     577
BC     377
CB     303
BA     270
AB     248
CA      72
AC      58
Name: group, dtype: int64

–ù–∞—à–∏ –≥—Ä—É–ø–ø—ã "revenue/popularity" –ø–æ–∫–∞–∑—ã–≤–∞—é—Ç —á—Ç–æ –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –¥–æ—Ö–æ–¥–∞ –ø—Ä–∏–Ω–æ—Å—è—Ç –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –≥—Ä—É–ø–ø—ã 
—Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∫—É–ø–∞—é—Ç—Å—è –≤ –º–≤–ª—ã—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞—Ö –∑–∞ –æ–¥–Ω—É –ø–æ–∫—É–ø–∫—É. –ü–æ —ç—Ç–æ–π –∂–µ –ª–æ–≥–∏–∫–µ –Ω–∞–∏–±–æ–ª—å—à–∏–π –¥–æ—Ö–æ–¥
–ø—Ä–∏–Ω–æ—Å—è—Ç —Ç–æ–≤–∞—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∫—É–ø–∞—é—Ç –≤ –±–æ–ª—å—à–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –∑–∞ –æ–¥–Ω—É —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—é, —Ç–∞–∫ –∂–µ –∫–∞–∫ –∏ —Ç–æ–≤–∞—Ä—ã —Å 
–ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏.

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–æ–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

1. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ `stock_code` –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `ABC-–∫–æ–¥`, –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ `ID `

2. –í—ã–≥—Ä—É–∑–∏ —Ç–∞–±–ª–∏—Ü—É –≤ `csv` –¥–ª—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –≤ –æ—Ç–¥–µ–ª –∑–∞–∫—É–ø–æ–∫

In [36]:
ids = products[['stock_code', 'invoice_id']] #–≤—ã—Ç–∞—â–∏–ª –∞–π–¥–∏—à–Ω–∏–∫–∏ –∏–∑ –¥—Ñ products –≤—ã—à–µ
abcs = tqTable[['stock_code', 'description', 'group']] #–≤—ã—Ç–∞—â–∏–ª –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã –∏–∑ —Å–≤–µ–∂–µ–≥–æ –¥—Ñ tqTable
prod_table = pd.merge(ids,
                     abcs,
                     on = 'stock_code',
                     how = 'inner')

prod_table.to_csv('prod_table.csv')

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!